<th:block xmlns:th="http://www.thymeleaf.org">
    <main>
    <section>
        <header>
            <h2>Event Booking Page - Booking Confirmation</h2>
        </header>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">Your Booking Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Attendee Name</b></td>
                <td th:text="${hostName} ?: 'Petko Petkov'"></td>
            </tr>
            <tr>
                <td><b>Client IP Address</b></td>
                <td th:text="${clientIp} ?: '127.0.0.1'"></td>
            </tr>
            <tr>
                <td><b>Booking for Event</b></td>
                <td th:text="${eventName} ?: 'Oppenheimer'"></td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td th:text="${date} ?: '01/01/2025'"></td>
            </tr>
            <tr>
                <td><b>Event Location</b></td>
                <td th:text="${location} ?: 'Location 1'"></td>
            </tr>
            <tr>
                <td><b>Number of Tickets</b></td>
                <td th:text="${numTickets} ?: '2'"></td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="/events">Back</a>
    </section>
    </main>
</th:block>

