<th:block xmlns:th="http://www.thymeleaf.org">
    <main>
    <section>
        <header>
            <h2>Event Booking Page - Booking Confirmation</h2>
        </header>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="2">Your Booking Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Attendee Name</b></td>
                <td th:text="${hostName} ?: 'Petko Petkov'"></td>
            </tr>
            <tr>
                <td><b>Client IP Address</b></td>
                <td th:text="${clientIp} ?: '127.0.0.1'"></td>
            </tr>
            <tr>
                <td><b>Booking for Event</b></td>
                <td th:text="${eventName} ?: 'Oppenheimer'"></td>
            </tr>
            <tr>
                <td><b>Event Location</b></td>
                <td th:text="${location} ?: 'Location 1'"></td>
            </tr>
            <tr>
                <td><b>Number of Tickets</b></td>
                <td th:text="${numTickets} ?: '2'"></td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="/events">Back</a>

        <!--<form th:method="GET" th:action="@{/eventBookingController}">
            <label for="bookingSearch">Search Booking By Name</label>
            <input type="text" id="bookingSearch" name="bookingSearch" class="form-control w-50 mb-2">
            <br>
            <input type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn btn-secondary" href="/events">Back</a>
        </form>-->
    </section>
    </main>
</th:block>

