<th:block xmlns:th="http://www.thymeleaf.org" >
    <ul style="list-style-type: none">
        <!--<ul class="nav navbar-nav navbar-right">
            <li class="nav-item" sec:authorize="isAnonymous()" xmlns:sec="http://www.w3.org/1999/xhtml">
                <a class="btn btn-light btn-sm ml-3" href="/login">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            </li>
        </ul>-->
        <li class="nav-item">
            <a class="btn btn-light btn-sm ml-3" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </li>
    </ul>
    <br>
    <main>
        <h2>Search an event:</h2>
        <form th:method="GET" th:action="@{/events}">
            <label for="search">By Event Name:</label>
            <input id="search" type="text" name="searchName" placeholder="Search an event">
            <br/>
            <label for="minRating">By Minimum Event Rating (0 - 10): </label>
            <input id="minRating" type="number" name="minRating" min="0" max="10" placeholder="Min Rating">
            <br/>
            <input type="submit" value="Submit">
        </form>

        <div>
            <a href="/events/add-form" class="btn btn-dark">Add new event</a>
        </div>

        <form th:method="POST" th:action="@{/eventBookingController}">
            <h2>Choose an event:</h2>

            <div th:each="event : ${events}">
                <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                    <input type="radio" name="rad" th:value="${event.name}" />
                    <strong th:text="${event.name}"></strong><br/>
                    Description: <span th:text="${event.description}"></span><br/>
                    Rating: <span th:text="${event.popularityScore != null ? event.popularityScore : 1.0}"></span><br/>
                    Location: <span th:text="${event.location != null ? event.location.name : 'No location'}"></span><br/>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:action="@{'/events/delete/{id}' (id=${event.id})}" th:method="DELETE" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a th:href="@{'/events/edit-form/{id}' (id=${event.id})}" class="btn btn-info">Edit</a>
                    </th:block>
                </div>
            </div>

            <h2>Enter Reservation Name:</h2>
            <input type="text" name="hostName"><br/><br/>

            <h2>Choose number of tickets:</h2>
            <input type="number" name="numTickets" min="1" max="10"><br/><br/>

            <input type="submit" value="Submit">
        </form>
    </main>
</th:block>
